<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>调色板</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- v-bind:style简写为:style,动态绑定属性 -->
        <div :style="{width:'400px',height:'400px',background:`rgb(${R},${G},${B})`}"></div>
        <div>
            R:<input type="range" min="0" max="255" value="0" v-model="R"><span>{{R}}</span>
        </div>
        <div>
            G:<input type="range" min="0" max="255" value="0" v-model="G"><span>{{G}}</span>
        </div>
         <div>
            B:<input type="range" min="0" max="255" value="0" v-model="B"><span>{{B}}</span>
         </div>   
    </div>
</body>
</html>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            R:0,
            G:0,
            B:0
        }
    });
</script>